.el-tabs__nav-scroll {
    background: white;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.el-tabs__nav-wrap {
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

.el-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.el-tabs__item {
    height: 56px;
    font-size: 16px;
    line-height: 56px;
}

.el-menu li i.material-icons {
    margin-right: 16px;
}

ul a {
    text-decoration: none;
}