.drawer {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -100;
    transition:z-index .5s, background cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.drawer-content {
    min-width: 270px;
    max-width: 320px;
    width: calc(100% - 56px);
    height: 100%;
    background: #eef1f6;
    transform: translateX(-110%);
    box-shadow: 2px 0 6px rgba(0,0,0,.1);
    transition: cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.drawer.open {
    background: rgba(0,0,0,.5);
    z-index: 900;
}

.drawer.open .drawer-content {
    transform: translateX(0);
}

.user-drawer {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #E5E9F2;
    
}

.user-drawer button.md-icon {
    color: rgba(0,0,0,.6);
}