.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:8px;
}

.product-list .product {
    width: calc(50% - 24px);
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 4px;
    padding-bottom: 16px;
    text-align: center;
    overflow: hidden;
    margin:0 8px;
    margin-bottom: 16px;
}

.product-list .product div[role="picture"] {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 2px;
}

.product-list .product .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-list .product .text span {
    padding: 4px;
}

.product-list .product .text span.p-name {
    color: #20A0FF;
}

.product-list .product .text span.p-desc {
    color:rgba(0,0,0,.6);
    font-size: 14px;
}