.page.wishlist {
    padding: 0;
    margin: 0;
}

.wishlist {
    display: flex;
    flex-direction: column;
}

.wishlist .list {
    background: white;
    padding: 8px;
    border-left: 4px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}

.wishlist .list span {
    margin-bottom: 4px;
}

.wishlist .list span.wl-name {
    font-weight: bold;
    color: rgba(0,0,0,.8);
}

.wishlist .list span.wl-desc {
    color: rgba(0,0,0,.6);
}